---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import "../styles/global.css";
import LinkedIncon from "../components/icons/linkedinIncon.astro";
import GithubIcon from "../components/icons/githubIcon.astro";
import Mail from "../components/icons/emailIcon.astro";
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import SectionConteiner from '../components/SectionConteiner.astro';
---

<Layout titule= "Mi portafolio con Astro">
	<main>
		<SectionConteiner class = "py-40 pb-40" id = "About">
			<h1 class = "text-white text-5xl font-bold flex flex-row
			gap-x-4 pb-18">
				Hello, I'm Josue 
				<a class = "flex justify-center items-center"
				href="https://www.linkedin.com/in/josue-monarca-259359325/"
				target="_blank"
				rel = "noopener">
					<Badge>open to work</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">
    			I am a Software developer bridging the gap between Data Science and software engineering.
				Experienced in Java, Spring Boot, and Python, with a growing focus on modern frontend tools like Vite.
				I am passionate about building data-driven applications, implementing local AI, 
				and creating user-friendly interfaces. My goal is toand designing solid software architectures.
			</h2>

			<ul class = "flex flex-row gap-x-10 mt-10 text-lg opacity-80 justify-center">
				<li>
					<SocialPill href="https://www.linkedin.com/in/josue-monarca-259359325/">
						<LinkedIncon class = " justify-center size-6"/>
						LinkedIn
					</SocialPill>
				</li>

				<li>
					<SocialPill href="https://github.com/JosueMonarca">
						<GithubIcon class = " size-6"/>
						GitHub
					</SocialPill>
				</li>

				<li>
					<SocialPill href = "mailto:josuemonarca786@gmail.com">
						<Mail class = " size-6"/>		
						Contact me
					</SocialPill>
				</li>

			</ul>
		</SectionConteiner>

		<SectionConteiner id="Experience">
			<Experience />
		</SectionConteiner>
	</main>
</Layout>
