---
import Item from "./ExperienceItem.astro";
import ButtonGo from "./ButtonGo.astro";
---
<ol class="relative border-s border-default">                  
    <Item 
        date="Present"
        title="Backend / Full Stack Developer - Point of Sale System"
        description="Design and implementation of a point-of-sale and inventory control system for a local cafeteria. Developed business logic in Java, designed database schemas, persistence layers, and wrote technical documentation (SRS).">
        <p class="mb-4 text-base font-normal text-body">Technologies: Java, SQL, Software Architecture.</p>
        <!-- You can leave the button if you want to link to a GitHub repo, or remove the <a> tag if it's private code -->
        <ButtonGo href="https://github.com/JosueMonarca/SistemPOSCoffeShop">
            View code
        </ButtonGo>
            
    </Item>

    <Item 
        date="March 2026 - April 2026"
        title="Frontend Developer - Task Management Application"
        description="Developed an interactive web interface with a focus on advanced DOM manipulation. Implemented complex features such as drag-and-drop and recursive task completion." >
        <p class="mb-4 text-base font-normal text-body">Technologies: Vanilla JavaScript, Vite, CSS.</p>
        <ButtonGo href="https://github.com/JosueMonarca/To_do_list">
            View code
        </ButtonGo>
    </Item>

    <Item 
        date="February 2025 - March 2025"
        title="Academic Project - Data base manager system"
        description="Designed and implemented a database management system for handling large volumes of data efficiently. Developed query optimization strategies and ensured data integrity." >
        <p class="mb-4 text-base font-normal text-body">Technologies: Database Design, python.</p>
        <ButtonGo href="https://github.com/JosueMonarca/SimuladorDeBaseDeDatosSQL">
            View code
        </ButtonGo>
    </Item>

    <Item 
        date="January 2025 - February 2026"
        title="Software Developer - Tetris AI Engine"
        description="Migration and adaptation of an artificial intelligence algorithm originally developed in C to Java. Built the graphical user interface (GUI) and structured software requirements." >
        <p class="mb-4 text-base font-normal text-body">Technologies: Java, C, Data Structures.</p>
        <ButtonGo href="https://github.com/JosueMonarca/IA_que_juega_tetris">
            View code
        </ButtonGo>
    </Item>
</ol>

